<div>
  <%= link_to "Clear All Filters", hyrax_preservation.events_url %>
</div>
<%= render 'hyrax/preservation/events/filter_search/date_range' %>
<%= render 'hyrax/preservation/events/filter_search/premis_event_type' %>
<%= render 'hyrax/preservation/events/filter_search/premis_agent' %>
